<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.fredy.eclipsepluginexample.ui.views.sampleCategory"
            name="Sample Category">
      </category>
      <view
            category="org.fredy.eclipsepluginexample.ui.views.sampleCategory"
            class="org.fredy.eclipsepluginexample.views.SampleView"
            icon="icons/sample.gif"
            id="org.fredy.eclipsepluginexample.ui.views.sampleView"
            name="Sample View">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.fredy.eclipsepluginexample.adapters.Sample"
            class="org.fredy.eclipsepluginexample.adapters.SampleAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Sample Command"
            id="org.fredy.eclipsepluginexample.ui.commands.sampleCommand"
            name="Command 1">
      </command>
      <category
            id="org.fredy.eclipsepluginexample.ui.commands.sampleCategory"
            name="Sample Category">
      </category>
      <command
            description="Command 1"
            id="org.fredy.eclipsepluginexample.ui.commands.command1"
            name="Command 1">
      </command>
      <command
            description="Command 2"
            id="org.fredy.eclipsepluginexample.ui.commands.command2"
            name="Command 2">
      </command>
      <command
            description="Double Click Command"
            id="org.fredy.eclipsepluginexample.ui.commands.doubleClickCommand"
            name="Double Click Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.fredy.eclipsepluginexample.handlers.SampleHandler"
            commandId="org.fredy.eclipsepluginexample.ui.commands.sampleCommand">
      </handler>
      <handler
            class="org.fredy.eclipsepluginexample.handlers.Handler1"
            commandId="org.fredy.eclipsepluginexample.ui.commands.command1">
      </handler>
      <handler
            class="org.fredy.eclipsepluginexample.handlers.Handler2"
            commandId="org.fredy.eclipsepluginexample.ui.commands.command2">
      </handler>
      <handler
            class="org.fredy.eclipsepluginexample.handlers.DoubleClickHandler"
            commandId="org.fredy.eclipsepluginexample.ui.commands.doubleClickCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.fredy.eclipsepluginexample.ui.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="org.fredy.eclipsepluginexample.ui.commands.sampleCommand"
                  label="Say Hello">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.fredy.eclipsepluginexample.ui.menus.sampleToolBar">
            <command
                  commandId="org.fredy.eclipsepluginexample.ui.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say Hello">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:help?after=additions">
         <command
               commandId="org.fredy.eclipsepluginexample.ui.commands.sampleCommand"
               label="Say Hello"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.fredy.eclipsepluginexample.ui.commands.command1"
               style="push"
               tooltip="Command 1 Tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.fredy.eclipsepluginexample.adapters.Sample">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.fredy.eclipsepluginexample.ui.commands.command2"
               style="push"
               tooltip="Command 1 Tooltip">
               <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.fredy.eclipsepluginexample.adapters.Sample">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.fredy.eclipsepluginexample.ui.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.fredy.eclipsepluginexample.ui.preferencePages.myPreferences"
            class="org.fredy.eclipsepluginexample.pages.SamplePreferencePage"
            id="org.fredy.eclipsepluginexample.ui.preferencePages.samplePreference"
            name="Sample Preference">
         <keywordReference
               id="org.fredy.eclipseexampleplugin.ui.keywords">
         </keywordReference>
      </page>
      <page
            class="org.fredy.eclipsepluginexample.pages.MyPreferencesPage"
            id="org.fredy.eclipsepluginexample.ui.preferencePages.myPreferences"
            name="My Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.fredy.eclipseexampleplugin.ui.keywords"
            label="counter message">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.fredy.eclipsepluginexample.editors.SampleEditor"
            default="false"
            extensions="sample"
            id="org.fredy.eclipsepluginexample.ui.editors.sampleEditor"
            name="Sample Editor">
      </editor>
   </extension>

</plugin>
